:root,
[data-theme="default"] { 
   --clr-bg-page : 0 0% 98%  ; 
   --clr-bg-input : 0 0% 94% ; 
   --clr-primary : 0 0% 15% ;  
   --clr-secondary: 0 0% 100% ; 
   --clr-blue :  204 100% 48%    ;
   // --clr-red: 340 75% 54% ;  
   --clr-red: 343 82.5% 55.3% ;  
}

